.bg-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/aceji-cake-store.appspot.com/o/form-background.png?alt=media&token=19654635-393e-498b-bd3a-91372ced1fd8');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-shadow {
    background: rgba(0, 0, 0, 0.7);
}

