.bg-image {
    background-image: url('https://theme.hstatic.net/1000313040/1000406925/14/banform.jpg?v=1851');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-shadow {
    background: rgba(0, 0, 0, 0.7);
}

